app/kuma/__pycache__

app/kuma/*/__pycache__

app/kumaStore/__pycache__

app/kumaStore/*/__pycache__

app/apiRest/__pycache__


app/apiRest/*/__pycache__



app/kumaStore/.env

.env 

*.env


db.sqlite3