app/kuma/__pycache__

app/kuma/*/__pycache__

app/kumaStore/__pycache__

app/kumaStore/*/__pycache__

app/apiRest/__pycache__

app/apiRest/migrations

app/apiRest/*/__pycache__

app/kuma/migrations


app/kumaStore/.env


db.sqlite3