<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">    <link rel="stylesheet" href="{% static 'CSS/style-reloj.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/style-header.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/style-footer.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <script src="https://kit.fontawesome.com/2bddaf117c.js" crossorigin="anonymous"></script>
    <title>Los mejores productos para tu mascota | Kuma!</title>
    <link rel="icon" href="{% static 'IMG/logo titulo.png'%}">
    {% block head %}

    {% endblock %}
</head>
<header>
    <div class="banner">
    {% if user.is_authenticated %}
      {% if user.username == 'cetecom' %}
      <div class="toast-body bg-success text-light position-fixed top-0 end-0 p-3" id="toast-iniciosesion" style="z-index: 11; border-radius: 4px;">
        Bienvenido de vuelta ADMIN
      </div>
      <p class="ban"> ¿Desea agregar productos?, <a class="linkban" href="agregarProducto"> Presione aquí</a></p>
      <p class="ban2"> ¿Desea eliminar los productos agregados?, <a class="linkban" href="eliminar_produto.html"> Presione aquí</a></p>
      {% else %}
       <div class="toast-body bg-success text-light position-fixed top-0 end-0 p-3" id="toast-iniciosesion" style="z-index: 11; border-radius: 4px;">
          Bienvenido de vuelta {{user.username}}
       </div>
       <p class="ban"> Disfruta de todos nuestros productos </p>
      {% endif %}
    {% else %}
    <p class="ban"> <a href="login" class="iniciar">Inicia sesion</a> o <a href="registrar" class="registrarse">registrate</a> para una mejor experiencia </p>
    {% endif %}
  </div>

  <nav class="py-3 navbar navbar-dark bg-caution navbar-expand-md">
    <div class="logo">
      <a class=" logo1 navbar-brand" href="inicio">
        <img src="{% static 'IMG/logo.png'%}" width="257" height="110" alt="">
        Kuma!
      </a>
      
    </div>
    <div class="container">
    

      <div class="d-none d-lg-block">
        <form class="search_box">
          <input type="search" placeholder="Buscar">
          <span class="fa fa-search"></span>
        </form>
        </div>

      <button data-bs-toggle="collapse" data-bs-target="#main-menu" type="button" class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>  
      </button>
      
      <div class="collapse navbar-collapse" id="main-menu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="comida">Comida</a></li>
          <li class="nav-item"><a class="nav-link" href="bandana">Bandanas</a></li>
          <li class="nav-item"><a class="nav-link" href="correa">Correas y arneses</a></li>
          <li class="nav-item"><a class="nav-link" href="colgante">Colgantes</a></li>
          <li class="nav-item"><a class="nav-link" href="juguete">Juguetes</a></li>
          <li class="nav-item"><button class="btn" id="btncarrito" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><span class="fa fa-cart-shopping"></span></button></li>
          <li class="nav-item">
            <select onchange="cambioMoneda()" name="divisa" id="divisa" class="form-select">
              <option id="option1" name="txtClp"class="option" value="1">CLP</option>
              <option id="option2" name="txtUsd" class="option" value="2">USD</option>
            </select>
          </li>
          <li class="nav-item">
            <button class="switch" id="switch">
              <span>
                <i class="fas fa-sun"></i>
              </span>
              <span>
                <i class="fas fa-moon"></i>
              </span>
            </button>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'logout' %}" class="cerrar">Cerrar sesion</a>
          </li>

          {% else %}
          <li class="nav-item">
            <a href="{% url 'login' %}" class="inicio">Iniciar sesion</a>
          </li>
          {% endif %}
            
        </ul> 
      </div>
    </div>
  </nav>
    
      
  </header>
<body>
  <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
    <div class="carrito">
        <div class="header-carrito">
        <h2>Tu carrito</h2>
        </div>
        <div class="carrito-items">
        <!--  
        <div class="carrito-item">
            <img src="IMG/plano.jpg" alt="">
            <div class="carrito-item-detalles">
            <span class="carrito-item-titulo">Bandana color simple</span>
            <div class="selector-cantidad">
                <i class="fa-solid fa-minus restar-cantidad"></i>
                <input type="text" value="1" class="carrito-item-cantidad" disabled>
                <i class="fa-solid fa-plus sumar-cantidad"></i>
            </div>
            <span class="carrito-item-precio">$15.000</span>
            </div>
            <span class="btn-eliminar">
            <i class="fa-solid fa-trash"></i>
            </span>
        </div>
        <div class="carrito-item">
            <img src="IMG/rec___327.jpg" alt="">
            <div class="carrito-item-detalles">
            <span class="carrito-item-titulo">Bandana diseño cuadriculado</span>
            <div class="selector-cantidad">
                <i class="fa-solid fa-minus restar-cantidad"></i>
                <input type="text" value="1" class="carrito-item-cantidad" disabled>
                <i class="fa-solid fa-plus sumar-cantidad"></i>
            </div>
            <span class="carrito-item-precio">$30.000</span>
            </div>
            <span class="btn-eliminar">
            <i class="fa-solid fa-trash"></i>
            </span>
        </div>
      -->
        </div>
        <div class="modal" id="myModal" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Compra realizada con exito</p>
              </div>
              <div class="modal-footer">
                <button onclick="location.href = location.href" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="carrito-total">
        <div class="fila">
            <strong>Tu total</strong>
            <span class="carrito-precio-total">
            $0,00
            </span>
        </div>
        <button type="submit" class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i></button>
        </div>
    </div>
    </div>
</div>
    {% block body %}

    {% endblock %}
    <script src="{% static 'JS/jquery-3.6.4.min.js'%}"></script>
    <script src="{% static 'JS/jquery.validate.min.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <script src="{% static 'JS/funciones_carrito.js'%}"></script>
    <script src="{%  static 'JS/api.js' %}"></script>
    <script src="{% static 'JS/funciones_toast.js' %}"></script>
    {% block script %}

    {% endblock %}
</body>
<footer class="footer">
    <div class="left-footer">
      <div class="row">
  
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer-about">
            <div class="footer-logo">
              <a href=""><img src="{% static 'IMG/logo titulo.png'%}" width="75" height="75" alt=""></a>
            </div>
            <p>
              Kuma!, Nuestra misión es ayudar a nuestros amigos peludos a encontrar el alimento, juguete o accesorio favorito.</p>
              <a href=""><img src="" alt=""></a>
            </div>            
        </div>
  
        <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
          <div class="footer-widget">
            <h6>Categorias</h6>
            <ul>
              <li><a href="">Higiene</a></li>
              <li><a href="">Entretención</a></li>
              <li><a href="">Accesorios y vestuarios</a></li>
            </ul>
          </div>
        </div>
  
        <div class="col-lg-2 col-md-3 col-sm-6">
          <div class="footer-widget">
            <h6>Links</h6>
            <ul>
              <li><a href="">Contacta con nosotros</a></li>
              <li><a href="">Metodos de pago</a></li>
              <li><a href="">Delivery</a></li>
              <li><a href="">Reembolsos</a></li>
            </ul>
          </div>
        </div>
  
        <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
        <div class="footer-widget">
            <h6>¿Eres parte de la familia Kuma!?</h6>
            <div class="footer-newsletter">
              <p>Se el primero en saber sobre nuevos productos, ofertas y promociones!</p>
              <form action="#">
                {% if user.is_authenticated %}
                <p class="bienvenida">Bienvenid@ de vuelta {{user.username}}</p>
                {% else %}
                <input type="text" placeholder="Ingrese su mail">
                <a class="button" href="registrar"><span><i class="fa fa-envelope" arial-hidden="true"></i></span></a>
                <p class="acominicio">¿Ya eres parte de la familia Kuma!? <a class="iniciosesion" href="login">Inicia sesión</a></p>
                {% endif %}
              </form>
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="footer-copyright-text">
            <p>Copyright &copy; 2023 All rights reserved | Kuma!</p>
            <div class="reloj">
              <p class="tiempo"></p>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
  </footer>
  <script src="{% static 'JS/funciones-estetica.js' %}"></script>
</html>