.bienvenida{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.general{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.datos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    width: 500px;
    padding: 20px;
    gap: 8px;
}

.datos h3{
    display: flex;
    justify-content: left;
}

.botones {
    display: flex;
    flex-direction: row;
    padding: 4px 8px;
    gap: 8px;
}

#boton-editar{
    transition: 0.3 ease all;
}

#boton-editar:hover{
    scale: 1.10;
    transition: 0.3 ease all;
}

#boton-guardar{
    transition: 0.3 ease all;
}

#boton-guardar:hover{
    scale: 1.10;
    transition: 0.3 ease all;
}

.volver-inicio{
    margin: 20px;
    transition: 0.3s ease all
}

.volver-inicio:hover{
    scale: 1.10;
    transition: 0.3s ease all
}
.exterior{
    display: flex;
    flex-direction: row ;
    gap: 20px;
}

.loader-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-container{
    text-align: center;
}

#switch-color{
    display: flex;
    justify-content: right;
    align-items: end;
    margin: 10px 10px;
}